<html>

<head>
        <title>{% block title %}Dining Menu{% endblock %}</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<link href="css/main.css" type="text/css" rel="stylesheet" />

</head>


<body>
	<div class="site_title">U of I Dining Hall Menus</div>

	<div class="main">
		{% block body %}

		{% endblock %}
	</div>
</body>

</html>
