{% extends "base.html" %}

{% block title %}{{facility_name}}{% endblock %}

{% block body %}


<h1 style="text-align: center;">{{facility_name}}</h1>

{% set curr_date = 0 %}

{% for row in menus %}

        {% if curr_date != row[1] %}
                {% if curr_date != 0 %}
                        </ul></div></div>
                {% endif %}

                <div class="centered-panel menu-block">
                  <div class="panel panel-custom">
                    <div class="panel-heading">{{row[1]}}</div>
                      <ul class="list-group">
                {% set curr_date = row[1] %}
        {% endif %}


        <li class="list-group-item food-item">
                <a href="/menu.php?menu_id={{row[0]}}">{{row[3]}}</a>
        </li>

{% endfor %}

{% endblock  %}
