{% extends "base.html" %}

{% block title %}{{facility_name}}{% endblock %}

{% block body %}

<style type="text/css">
input[type=submit] {
  background: transparent;
  border: 0;
  display: inline;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}

form {
  margin-bottom: 0em;
}
</style>

<h1>{{facility_name}}</h1>

{% for row in menus %}
<form action="menu.php" method="post">
    <input type="hidden" name="menu_id" value="{{row[0]}}">
    <input type="submit" value="{{row[1]}}  --  {{row[3]}}">
</form><br>
{% endfor %}

{% endblock  %}
