{% extends 'base.html' %}

{% block title %}Dining Menus Home{% endblock %}

{% block body %}

<div class="centered-panel">
  <div class="panel panel-custom">
    <div class="panel-heading">Choose a dining hall</div>
      <ul class="list-group">
        {% for row in facilities %}
        <li class="list-group-item">
                <a href="/facility.php?facility={{row[0]}}:{{row[1]}}">{{row[1]}}</a>
        </li>
        {% endfor %}
      </ul>
  </div>
</div>
</div>

{% endblock %}