{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}


{% block body %}

        <div class="container">
        <form role="form" method="post" action="notification.php">
                {{ user }}
                <div class="form-group">Notify me when
                                <select name="facility">
                                        {% for row in facilities %}
                                        <option value={{ row[0] }}>{{row[1]}}</option>
                                        {% endfor %}
                                </select></div>
                <div class="form-group">is serving
                                <select name="item">
                                        {% for item in items %}
                                        <option value="{{item[0]}}">{{item[0]}}</option>
                                        {% endfor %}
                                </select></div>
                <input type="submit" value="Submit" name="submit"/>
        </form>
        </div>

{% endblock %}
~                   