{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}


{% block body %}

	<div class="container">
	<form role="form" method="post" action="notification.php">
		<h2>{{ user }}</h2>
		<div class="form-group">Notify me when 
				<select name="facility">
					{% for row in facilities %}
					<option value={{ row[0] }}>{{row[1]}}</option>
					{% endfor %}
				</select></div>
		<div class="form-group">is serving 
				<select name="item">
					{% for item in items %}
					<option value="{{item[0]}}">{{item[0]}}</option>
					{% endfor %}
				</select></div>
		<input type="submit" value="Submit" name="submit"/>
	</form>
	<br>
	<h2>Current Notifications:</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Food Item</th>
				<th>Location</th>			
				<th></th>
			</tr>
		</thead>
		{% for notification in notifications %}
		<tr>
			<th>{{notification[0]}}</th>
			<th>{{notification[1]}}</th>
			<th><form class="notification_delete" style="margin-bottom=0em"><input type="hidden" name="facility_id" value="{{notification[2]}}"><input type="submit" value="X"><input type="hidden" name="food_name" value="{{notification[0]}}"></form></th>
		</tr>
		{% endfor %}
	</table>
	</div>

	<script>
$(document).ready(function onReady(){
	$(".notification_delete").submit(function(e){
		e.preventDefault();
		var $form = $(this);
		var facility_id = $form.find( "input[name='facility_id']" ).val();
		var item = $form.find( "input[name='food_name']" ).val();
		$.post(
            'notifications/remove.php',
            {
                item: item,
                facility_id: facility_id
            }
        );
        $form.parent().parent().remove();
	});	
});
	</script>

{% endblock %}
