/*
 *  Color Scheme
 *  blue       = #1BB6BA
 *  orange     = #FBAC2B
 *  light grey = #CCC
 *  dark grey  = #4F5050
*/


h1 {
        color: #1BB6BA;
}

h2 {
        color: #1BB6BA;
}

a {
        color: #1BB6BA;
}

body {
        background-color: #CCC;
        font-size: 20px;
        color: #4F5050;
}

.main {
        width: 70%;
        margin: 30px auto;
        text-align: left;
        background-color: #CCC;
}

.top-section {
        height: 160px;
        background-color: #FBAC2B;
        color: #4F5050;
}

.top-menu {
        text-align: right;
        font-size: 14px;
        padding-top: 4px;
        padding-right: 8px;
}

.top-menu a {
        color: #4F5050;
        padding: 0px 2px 0px 2px;
}

.site-title {
        text-align: center;
        font-size: 44px;
        padding-top: 24px;
        vertical-align: middle;
}

.site-title a {
        color: #4F5050;
        text-decoration: none;
}

.rating-color {
        color: #FBAC2B;
}

.centered-panel {
        width: 600px;
        margin: 0px auto;
        margin-top: 140px;
        text-align: center;
}

.menu-block {
        margin: 40px auto;
}

.panel-custom {
        background-color: #1BB6BA;
        color: #ffffff;
}

.list-group-item {
        color: #1BB6BA;
}

.list-group-item a {
        color: #1BB6BA;
        text-decoration: none;
}

.food-item {
        cursor: pointer;
}

.nutrition-title {
        padding: 15px 34px 0px 34px;
        color: #1BB6BA;
        font-size: 24px;
}

.modal-content table {
        margin: 6px auto 30px auto;
}

.modal-content td {
        border: 1px solid black;
        padding: 10px;
}